<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/community.js"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <!--左边正文-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="question-title"><span th:text="${question.title}"></span></h4>
                <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span>&nbsp;|
                发布于：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>&nbsp;|
                阅读数：<span th:text="${question.viewCount}"></span>
                </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--标签-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info  question-tag" th:each="tag : ${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" th:text="${tag}"></span>
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--编辑-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>
            </div>
            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span>个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" alt="裂开" th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div>

                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"><span th:text="${comment.likeCount}"></span></span>
                                <span th:data-id="${comment.id}" onclick="collapseComment(this)" class="comment-icon">
                                    <span class="glyphicon glyphicon-comment icon">
                                        <span th:text="${comment.commentCount}"></span>
                                    </span>
                                </span>
                                <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}" class="pull-right"></span>&nbsp;
                            </div>

                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comment" th:id="${'comment-'+comment.id}">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下..." th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success pull-right btn" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    提交回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" alt="裂开" th:src="${question.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body media-body-my">
                            <h5 class="media-heading">
                                <span th:text="${question.user.name}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea class="form-control comment-height" rows="6" id="comment_content"></textarea>
                    <button type="button" class="btn btn-success comment-btn" onclick="post()">回复</button>
                </div>
            </div>
        </div>
        <!--右侧信息-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" alt="裂开" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body media-body-my">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="question-related">
                    <li th:each="related : ${relatedQuestions}">
                        <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>